.contact-section input,.contact-section textarea{
    outline:none;
    padding:0.8rem 1rem;
    background:rgb(25, 27, 30);
    border-bottom-color: rgb(75, 85, 99);
    border-radius:8px;
    color:white
}
.contact-section input:focus-visible,
.contact-section textarea:focus-visible{

    border-color: transparent;
    outline:solid #ff014f !important;
}
.contact-section button{
    background-color: rgb(25, 27, 30);
    padding:0.6rem;
    border:none;
    border-bottom: solid rgb(75, 85, 99);
    border-right:solid rgb(75, 85, 99);
}
.contact-section button:hover{
    border-bottom-color: transparent;
    outline:1px solid #ff014f !important;
}
.contact-section{
    margin-left:2rem;
    margin-right:2rem;
    margin-bottom:2rem;
}
.contact-form-1{
    background-image: (to right, rgb(30, 32, 36), rgb(35, 39, 43));
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgb(28, 30, 34) 10px 10px 19px 0px, rgb(38, 42, 46) -10px -10px 19px 0px;
}
@media screen and (min-width:768px) {
    .contact-form{
        width:75%
    }
}