.toast-header{
    display: flex;
    justify-content:space-between;
    padding: 0 !important;
}
.toast-header button{
    all:unset;
    padding: 4px;
    cursor: pointer;;
}
.toast-header,.toast-body{
    background-color: grey !important;
    color: white;
}