.card-container{
    width:350px;
    background-image: linear-gradient(to right,rgb(17, 24, 39), rgba(17, 24, 39, 0));
    box-shadow:  rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgb(28, 30, 34) 10px 10px 19px 0px, rgb(38, 42, 46) -10px -10px 19px 0px;
    margin:auto;
    transition: box-shadow 1s;
}
.add_box_shadow{
    box-shadow: var(--blue-color) 0px 22px 70px 4px !important;
}

@media screen and (max-width:576px){
    .card-container{
    width:300px;
    }
    .movie-text{
        height:350px !important;
    }
}
.card-container:hover{
    background-image: linear-gradient(to bottom,#111827, rgba(17, 24, 39, 0));
}
.card-container:hover .pro-details .project-description{
    color:white
}
.image-container-project{
    overflow: hidden;
    border-radius: 5px;
    height: 250px;
 
    width:100%;
}

.image-container-project img{
    object-fit: contain;
    cursor: pointer;
    width:100%;
    object-position: 0% 50%;
}

.source-code-demo{
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.source-code-demo svg{
    transition: fill 500ms;
}
.source-code-demo:hover svg{
    fill:var(--pink-color);
}
.project-description{
    transition:color 1s
}
.project-description:hover{
    color:white
}
.movie-text{
    min-height:250px;
    height:250px;
}
.project-description-container{
    margin-top:1rem;
}
.project-description-container label{
    color:var(--violet-color);
    font-weight: 700;
    letter-spacing: 2px;
}
.project-description-container article{
    padding:5px 0px;
    font-size: 0.8rem;
    color:rgb(249 243 243 / 79%) !important
}
.project-title{
    letter-spacing: 2px;
    font-weight: 800;
}
.color-it{
    color:var(--pink-color)
}