.course-title{
    color:var(--pink-color)
}
.course-container {
    background-color: var(--background-black);
    padding:1rem;
    border-radius: 10px;
}
.make-opacity{opacity: 0.7;}
.course-container:hover .make-opacity{
opacity:1
}
.credentials-button{
    cursor: pointer;
    border-color:transparent;
    outline:solid var(--blue-color);
    padding:0.2rem 0.5rem;
    color:white;
    font-size:0.7rem;
    border-radius: 15px;
    margin-top:0.5rem;
    background-color: transparent;
    opacity:0.6;
    transition: scale 0.5s ,opacity 0.5s;
}
.credentials-button:hover{
    opacity: 1;
}
.credentials-button:active{
    scale:1.6
}