.education{
    width:fit-content;
    padding:30px;
    margin:auto;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    opacity:0.7;
    margin-top:1.5rem;
}
.education:hover{
    opacity:1
}
.cgpa{
    padding:10px;
    background-color:rgba(0, 0, 0, 0.25);
    color:rgb(255, 1, 79);
    font-size:12px;
    font-weight:600
}

@media screen and (max-width:768px){
    .education h1,.education h2{
        font-size:16px
    }
    .education {
        padding:10px;
    }
}