
.d_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap:10px;
}
.skills-section svg{
    height:100px;
    width:100px
}
.text-width-fit{
    width:fit-content
}
.skills-section{
    --line-time:500ms;
    --circle-time:500ms;
    --percentage-time:300ms;
    --initial-delay:0ms;

    --html-delay:var(--initial-delay);
    --css-delay:calc(var(--html-delay) + var(--line-time));
    --javascript-delay:calc( var(--css-delay) + var(--line-time));
    --react-delay:calc(var(--javascript-delay) + var(--line-time));
    --redux-delay:calc(var(--react-delay) + var(--line-time));
    --bootstrap-delay: calc(var(--redux-delay) + var(--line-time));

    --creativity-delay:calc(var(--bootstrap-delay) + var(--line-time));
    --creativity-word-delay:calc(var(--creativity-delay) + var(--circle-time));
    --communications-delay: calc(var(--creativity-word-delay) + var(--percentage-time));
    --communications-word-delay:calc(var(--communications-delay) + var(--circle-time));
    --problem-solving-delay:calc(var(--communications-word-delay) + var(--percentage-time));
    --problem-solving-word-delay:calc(var(--problem-solving-delay) + var(--circle-time));
    --team-work-delay:calc(var(--problem-solving-word-delay) + var(--percentage-time));
    --team-work-word-delay:calc(var(--team-work-delay) + var(--circle-time))

}

@media screen and (max-width:768px){
    .skills-section{
        --creativity-delay:0ms;
    }
}
.pause-animation-line{
    animation:none !important;
}
.pause-animation-circle{
    animation: none !important;
}