.site-quote{
    display:none;
}
.site-quote.show{
    display: flex;
}
.close-button-title{
    z-index:1000
}
.wrapper {
  text-align: center;
}
.wrapper:not(.mobile) h1{
  padding: 0 !important;;
  margin: 0 !important;
}
.wrapper.mobile{
  letter-spacing: 2px;
}

.wrapper h1 {
    color: #fff;
    font-size: 0.8rem;
    font-weight: 1000;
    font-family: "Josefin Sans", sans-serif;
    background: linear-gradient(to right,rgb(219, 243, 5) 10%, rgb(221, 111, 7) 30%, #0ef506 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 5s ease-in-out infinite;
    display: inline-block;
    background-position: 200% center;
  }


@keyframes textclip {
  0%{
    background-position: 200% center;
  }
  50%{
    background-position: 100% center;
  }
  100% {
    background-position: 0% center;
  }
}